.scrollButton {
  position: fixed;
  bottom: 125px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2c165b;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  @media (max-width: 1199px) {
    bottom: 95px;
  }

  @media (max-width: 768px) {
    bottom: 80px;
    right: 15px;
  }

  &:hover {
    background-color: #e6ac69;
    opacity: 1;
    transform: translateY(-3px);
  }
}
