.header {
  background: #2c165b;
  padding: 10px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  span {
    font-weight: 500;
    color: #fff;
  }

  button {
    background: linear-gradient(135deg, #a855f7, #ec4899);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.8rem 1.8rem;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 0 12px rgba(236, 72, 153, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(167, 139, 250, 0.6);
    }
  }
}

.study_btn {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: #e68a1a;
    }
  }
}
.logo {
  height: 50px;
}

.signout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  p {
    color: #fff;
  }
}

.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
