.footer {
  background-color: #180c32;
  color: #fefefe;
  padding: 32px 16px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width: 992px) {
    padding: 20px 0;
  }
  @media (max-width: 768px) {
    padding: 10px 0;
  }

  .wrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .logoBlock {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @media (max-width: 786px) {
      img {
        width: 70px;
        height: auto;
      }
    }
  }
  .rights {
    font-size: 14px;
    opacity: 0.8;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .socials {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 10px;
    }

    a {
      color: #c4b5fd;
      font-size: 1.5rem;
      transition: transform 0.2s ease, color 0.3s ease;

      &:hover {
        color: #e2c679;
        transform: scale(1.1);
      }
    }
  }
}
