.randomizer {
  padding: 2rem 0;
  color: #fff;
  background: radial-gradient(circle at top, #2e1a47, #0e0b24);
  text-align: center;
  min-height: 100vh;
  // box-shadow: 0 10px 30px rgba(120, 45, 180, 0.4);
  // max-width: 1000px;
}

.select {
  background: #fff;
  color: #4c197e;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  margin: 1rem 0;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 345px;

  &:hover {
    background: #f0e4ff;
  }
}

.checkboxes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 1rem;
  color: #fff;
  backdrop-filter: blur(5px);

  input {
    accent-color: #b57bff;
    transform: scale(1.3);
  }
}

.button {
  background: linear-gradient(90deg, #7b2eff, #b57bff);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  display: block;
  margin: 20px auto;
  width: 345px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(181, 123, 255, 0.6);
  }
}

.diceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 1.5rem;
}

.dice {
  font-size: 5rem;
  animation: roll 1.5s ease-in-out infinite;
  filter: drop-shadow(0 0 15px #dba3ff);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.combo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.block {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 1rem;
  width: 45%;
  min-width: 300px;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  max-width: 50%;

  h3 {
    margin-bottom: 0.5rem;
    color: #ffe9ff;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 500;
    height: 56px;
  }
}
